### Data Structures

-dictionaries

### Dictionaries
- It works on concept of set unique data
- Keys , values is the unique identifier for a value
- Each key is separated from its value with the colon symbol(:)
- Each key and value is separated by comma(,)
- Dictionaries are enclosed with curly brace ({})

In [2]:
d1 = {"name":"gitam","emailid":"gitam@gmail.com","address":"hyderabad"}
print(d1)

{'name': 'gitam', 'emailid': 'gitam@gmail.com', 'address': 'hyderabad'}

In [3]:
d1["name"]

'gitam'

In [4]:
d1['emailid'] = 'gitam-python@gmail.com'

In [5]:
d1['emailid']

'gitam-python@gmail.com'

### Tuples

- t1 paranthesis() li square brackets[]
- Difference between list and tuples
- lists are multiple - can be changed/modified
      - Used to access , modify and delete data
- Tupples are immutable - cannot be changed
- Used to access the data only

In [6]:
ti = (1,2,3,4,5,6)

 ### Contact Application
    - Add contact
    - Search the contact
    - List all cntacts
          - name1 : phone1
          - name2 : phone2
    - modify the contact
    - remove the contact
    - import the contact

In [16]:
# add contact
contacts = {} # creating a dictionary object
def addcontact(name,phone):
    if name not in contacts:
        contacts[name] = phone
        print("contact details are added")
    else:
        print("contact details are already existing")
    return
addcontact('soma','8465012745')
addcontact('ramu','9623061542')
addcontact('soma','8465012745')

contact details are added
contact details are added
contact details are already existing

In [18]:
# Search for contact details
def searchcontact(name):
    if name in contacts:
        print(name, " : " , contacts[name])
    else:
        print("%s does not exist " % name)
    return
searchcontact('soma')
searchcontact('harsha') 
searchcontact('ramu')

soma  :  8465012745
harsha does not exist
ramu  :  9623061542

In [20]:
# Import some contacts
# merge the contacts with existing one
def importcontact(newcontacts):
    contacts.update(newcontacts)
    print(len(newcontacts.keys()),"contacts added successfully")
    return
newcontacts={'Dinesh': 9574681235, 'Ajay': 8431597265}
importcontact(newcontacts)

2 contacts added successfully

In [21]:
# Delete a contact
def deletecontact(name):
    if name in contacts:
        del contacts[name]
        print(name, " deleted successfully")
    else:
        print(name, " not exists")
    return
deletecontact('Ajay')

Ajay  deleted successfully

In [22]:
# Update the contact details
def deletecontact(name,phone):
    if name in contacts:
        contacts[name] = phone
        print(name,"UPdated successfully")
    else:
        print(name,"not exists")
    return
deletecontact('soma',9988774455)
deletecontact('Dinesh',9999988888)

soma UPdated successfully
Dinesh UPdated successfully

In [29]:

# Program to print Fibonacci 
# series in reverse order 
  
def reverseFibonacci(n): 
   
    a = [0] * n  
  
    # assigning first and second elements 
    a[0] = 0 
    a[1] = 1 
  
    for i in range(2, n):   
  
        # storing sum in the 
        # preceding location 
        a[i] = a[i - 2] + a[i - 1]  
       
  
    for i in range(n - 1, -1 , -1):   
  
        # printing array in 
        # reverse order 
        print(a[i],end=" ")  
       
   
  
# Driver function 
n = 12
reverseFibonacci(n)

89 55 34 21 13 8 5 3 2 1 1 0

In [33]:

def Nth_of_AP(a, d, N) : 
  
    # using formula to find the  
    # Nth term t(n) = a(1) + (n-1)*d 
    return (a + (N - 1) * d) 
       
   
a = 2  # starting number 
d = 1  # Common difference 
N = 5  # N th term to be find 
   
# Display the output 
print( "The ", N ,"th term of the series is : ", 
       Nth_of_AP(a, d, N))

The  5 th term of the series is :  6

In [27]:

def cube(n):
   i=0
   while i<=n:
       j=3**i
       print(j,end=" ")
       i+=1
   return
cube(5)

1 3 9 27 81 243

In [28]:
li = ['gitam','college','university']
li.count(1)

0